In this notebook, you'll see how to connect to a Postgres database using the sqlalchemy library.

For this notebook, you'll need both the `sqlalchemy` and `psycopg2` libraries installed.

In [1]:
#!pip install psycopg2-binary

In [2]:
#!pip install psycopg2

In [3]:
from sqlalchemy import create_engine, text

First, we need to create a connection string. The format is

 ```<dialect(+driver)>://<username>:<password>@<hostname>:<port>/<database>```

To connect to the Lahman baseball database, you can use the following connection string.

In [4]:
database_name = 'prescribers'    # Fill this in with your prescribers database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

Now, we need to create an engine and use it to connect.

In [5]:
engine = create_engine(connection_string)

sqlalchemy works well with pandas to convert query results into dataframes.

In [6]:
import pandas as pd

First, let's write a meaningful query.

query = 'SELECT * FROM prescriber'

In [8]:
query ="""
WITH op AS (
    SELECT 
        f.county, 
        pop.population AS population, 
        SUM(total_claim_count) AS most_opioids
    FROM 
        drug AS d
    JOIN 
        prescription AS p USING (drug_name)
    JOIN 
        prescriber AS pres USING (npi)
    JOIN 
        zip_fips AS zip ON pres.nppes_provider_zip5 = zip.zip
    JOIN 
        fips_county AS f ON zip.fipscounty = f.fipscounty
    JOIN 
        population pop ON zip.fipscounty = pop.fipscounty
    WHERE 
        d.opioid_drug_flag = 'Y'
    GROUP BY 
        f.county, pop.population
    ORDER BY 
        most_opioids DESC
)
SELECT 
    county, 
    ROUND((most_opioids/population)*100, 2) AS perc
FROM 
    op
ORDER BY 
    perc DESC;
    """

Now, bring it all together using the following syntax.

In [9]:
with engine.connect() as connection:
    people = pd.read_sql(text(query), con = connection)

people.head()

      county    perc
0      MOORE  709.12
1    JACKSON  524.72
2  VAN BUREN  415.47
3  TROUSDALE  331.24
4    OVERTON  287.95

For much more information about SQLAlchemy and to see a more “Pythonic” way to execute queries, see Introduction to Databases in Python: https://www.datacamp.com/courses/introduction-to-relational-databases-in-python